<div class="container-fluid parent" style="height: 20vh;">
  
  <div class="row justify-content-center child">

    <div class="col row justify-content-center" *ngIf="!globals.object.menu.story">
      <div class="col" *ngFor="let object of globals.object.menu.options.option">
        <button class="btn btn-danger btn-lg" (click)="chooseStory(object.file)">{{object.title}}</button>
      </div>
    </div>

    <div class="col" *ngIf="globals.object.menu.story">
      <div class="row justify-content-center" *ngIf="globals.object.menu.options.option[globals.ID].answers">
        <div class="col" *ngFor="let object of globals.object.menu.options.option[globals.ID].answers.answer">
          <button class="btn btn-danger btn-lg"
            (click)="chooseAnswer(object.ref, object.points)">{{object.text}}</button>
        </div>
      </div>
    </div>

    <div class="col" *ngIf="globals.object.menu.story && globals.object.menu.options.option[globals.ID].file">
        <button class="btn btn-danger btn-lg" (click)="chooseStory(globals.object.menu.options.option[globals.ID].file)">Main Menu</button>
    </div>
    
  </div>

</div>